<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentMetacritic" version="1.0.0.1" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.1.3-beta" targetFramework="net40" />
  <package id="Unirest-Net" version="1.0.0-beta" targetFramework="net40" />
</packages>